<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Page</title>
</head>
<body>
    <iframe title="dashboard1" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZjUyNzEwMDYtOWM1My00NTVhLTlhYTAtYTFmOTdjZjIwMzNkIiwidCI6ImMyNGViZTYxLTlhNzktNGYzNC04MmRkLWFmNjAxNDAxYTg5ZCJ9&pageName=ReportSection2b2b6a4e981d44f9352a" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="dashboard2" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNGM1OTliOWEtN2YwZC00MGNiLWE2ZTYtYmJhYzlmZjUwMWQ5IiwidCI6ImMyNGViZTYxLTlhNzktNGYzNC04MmRkLWFmNjAxNDAxYTg5ZCJ9&pageName=ReportSectione496f4054b08d8531b4a" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="api" width="1500" height="1200" src="https://viewpage.azurewebsites.net/api" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
