<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Page</title>
</head>
<body>
    <iframe src="https://onedrive.live.com/embed?cid=DAF2A30738448946&amp;resid=DAF2A30738448946%218302&amp;authkey=AItQdj7Z2bj-X0k&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1500px" height="700px" frameborder="0">這是 <a target="_blank" href="https://office.com/webapps">Office</a> 提供的內嵌 <a target="_blank" href="https://office.com">Microsoft Office</a> 簡報。</iframe>
    <iframe title="dashboard1" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZjUyNzEwMDYtOWM1My00NTVhLTlhYTAtYTFmOTdjZjIwMzNkIiwidCI6ImMyNGViZTYxLTlhNzktNGYzNC04MmRkLWFmNjAxNDAxYTg5ZCJ9&pageName=ReportSection2b2b6a4e981d44f9352a" frameborder="0" allowFullScreen="true"></iframe>
    <iframe src="https://onedrive.live.com/embed?cid=DAF2A30738448946&amp;resid=DAF2A30738448946%218304&amp;authkey=AG00mRg6wH5JNAU&amp;em=2&amp;wdAr=1.7777777777777777" width="1500px" height="700px" frameborder="0">這是 <a target="_blank" href="https://office.com/webapps">Office</a> 提供的內嵌 <a target="_blank" href="https://office.com">Microsoft Office</a> 簡報。</iframe>
    <iframe title="dashboard2" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNGM1OTliOWEtN2YwZC00MGNiLWE2ZTYtYmJhYzlmZjUwMWQ5IiwidCI6ImMyNGViZTYxLTlhNzktNGYzNC04MmRkLWFmNjAxNDAxYTg5ZCJ9&pageName=ReportSectione496f4054b08d8531b4a" frameborder="0" allowFullScreen="true"></iframe>
    <iframe src="https://onedrive.live.com/embed?cid=DAF2A30738448946&amp;resid=DAF2A30738448946%218306&amp;authkey=AInkey7UnCN_130&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1500px" height="700px" frameborder="0">這是 <a target="_blank" href="https://office.com/webapps">Office</a> 提供的內嵌 <a target="_blank" href="https://office.com">Microsoft Office</a> 簡報。</iframe>
    <iframe title="api" width="1500" height="1200" src="https://careerview.azurewebsites.net/api" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
